body{
    background-color:ivory


}


.bg-light{
    background-image: linear-gradient(to right, rgb(208, 255, 0), rgb(255, 255, 212)) !important;
    padding: 5px;

}

h1{
    text-align: center;
    text-shadow: 2px 2px #ffc252;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
    
    
}

.zak {
    position: relative;
    padding: 0;
    width: 300px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}
.content {
    opacity: 0;
    font-size: 40px;
    position: absolute;
    top: 0;
    left: 0;
    color: #1c87c9;
    background-color: rgba(200, 200, 200, 0.5);
    width: 300px;
    height: 300px;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align: center;
}
.zak .content:hover {
    opacity: 1;
}
.zak .content .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}
.zak .content:hover .text {
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
}

.para{
    /* background-image: linear-gradient(rgb(0, 255, 242), rgb(255, 255, 212)); */
    background-image: linear-gradient(to right, rgb(255, 255, 212), rgb(208, 255, 0));
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 160px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
    border: 3px black dotted;
    

}

.george{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;

}

.aboutus{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;


}

.malikmodels{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}