{% extends 'base.html' %}

{% block content %}

<title>About us</title>

<h2 class="aboutus">
HISTORY OF THE BUSINESS 


</h2> 

<p class="malikmodels">
    The business was created in 1960 to celebrate and break gender norms, at a time where women were subjected to a steriotypical role in society & men were considered to be manly and 'be the man of the house', Malik Models decided to go against the grain and let people break free from the shackles of society. And over the years, many companies have joined our side in making the world a place for all to feel and be accepted.
</p>

<style>
    .vl {
      border-left: 6px solid green;
      height: 500px;
    }
    </style>
    
    <div class="vl"></div>
<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span>
<span class="dot"></span> 
{% endblock %}