<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    


    <p class="para">
        At Malik Modelling we pride ourselves on professionlism, work ethic & unity. <br>
    for any quiries feel free to either give a Call or E-mail via the links below<br> 
    <br>
    Use <strong> #MalikModels </strong> on Instagram to view all the latest pictures and photoshoots</p>
    <div class="george">
    <div id="contactdetails">
        <a href="mailto:MalikModels@gmail.com">Email us</a> <br><br>
        <a href="tel:+44709909909">Call us
        </a>
        </div>


</body>
</html>