{% extends 'base.html' %}

{% block content %}
<body>
    <h1>Malik Models</h1>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="media/Yusuf.jpg" class="d-block w-100" alt="Male model">
          </div>
          <div class="carousel-item">
            <img src="media/Rose.jpg" class="d-block w-100" alt="Female model">
          </div>
          <div class="carousel-item">
            <img src="media/Zak.jpg" class="d-block w-100" alt="Male model">
          </div>
        </div>
      </div>





































{% endblock %}