<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Yusuf</title>
</head>
{% extends 'base.html' %}

{% block content %}
<body>
    <img src="media/Yusuf.png"  alt="Male model">
    
    <p><ul>
    Height: 6' 2", 188cmChest: 39", 99cmWaist: 33", 84cmSuit: 39L, Inside Leg: 33" 84cm, Collar: 16" · 41cmShoe: 10Hair: BlackEyes: Brown</ul></p>

</body>
</html>